@model FeedbackApp.BLL.VMs.Feedback.FeedbackVM


@{
    ViewData["Title"] = "Feedback";
}


@if (User.Identity.IsAuthenticated)
{
    <p>Feedback page</p>

    <h3 class="text-center">Ваш отзыв</h3>
    <h4 asp-for="Text"></h4>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}